<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-image: url('harvest.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;color: blue;">HARVESTING</h1>
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">--Crop--</th>
            <th scope="col">Machine</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>--Paddy--</td>
            <td>CH</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>--Wheat--</td>
            <td>CH</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="1">--tomato--</td>
            <td>Workers</td>
          </tr>
        </tbody>
      </table>
    <h2>Select your crop:</h2>
    <table class="table table-striped">
        ...
      </table>
    <table style="border: 2px;border-style: dashed;">
        <tr>
        <th>Crop</th>
        <td>paddy</td>
        <td>tomato</td>
        <td>wheat</td>
        </tr>
        <tr>
        <th>machine</th>
        <td>CH</td>
        <td>CH</td>
        <td>Workers</td>
        </tr>
    </table>

</body>
</html>